*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}
header.header{
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 2.2em rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.post{
    margin: auto;
    width: 95%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 2.2em rgba(0,0,0,.3);
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}